@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,600i,700,700i,800,800i,900,900i');

#discovertabs {
  font: 14px/1 Poppins,'Open Sans', sans-serif;
  color: hsl(0, 11%, 79%);
  background: #eee;
}

/*- Tabs Label -*/
#discovertabs .sub-tabs {
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  }
#discovertabs input {
  display: none;
  }
#discovertabs input:checked + label {
  color: #555;
  border-top: 1px solid #482b88;
}
#discovertabs label {
  width: 19%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  padding: 15px 0 15px 0;
  line-height: 20px;
}
#discovertabs label:hover {
  color: #888;
  cursor: pointer;
}
#Promos:checked ~ #Promos_content,
#Lunch:checked ~ #Lunch_content,
#Dinner:checked ~ #Dinner_content,
#Drinks:checked ~ #Drinks_content,
#Events:checked ~ #Events_content {
  display: block;
}

/*- Tabs Content -*/
#discovertabs p.header {
  padding: 50px 10px 0 10px;
  text-align: center;
  font-size: 1.2em;
  color: #fff; 
}
#discovertabs p.caption {
  padding: 20px 10px 50px 10px;
  text-align: center;
  font-size: 0.8em;
  color: #ebebeb;
}
#discovertabs section {
  display: none;
  padding: 20px 0 0;
  background: #190f2f;
  -webkit-box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
  box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
}
#discovertabs .sub-tabs img {
  max-height: 150px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
#discovertabs .venues-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
#discovertabs .venues-list div {
  flex-basis: 50%;
  text-align: center; 
}

/* Promos */
#discovertabs .promos-logo {
  text-align: center;
}
#discovertabs .header-promos {
  padding: unset !important;
}
#discovertabs .div-content-promos {
  padding: 24px;
}
#discovertabs hr {
  border-width: 0.25px;
  border-style: solid;
}

/* Events */
#discovertabs p.header-events {
text-align: center;
font-size: 1.5em;
color: #fff; 
}
#discovertabs .vh33 {
  height: 33vh;
}

/* Customizing NavTab */
ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
/*Strip the ul of padding and list styling*/
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}
/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}
/*Style for menu links*/
li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}
/*Hover state for top level links & dropdown links*/
li:hover a {
  background: #19c589;
  line-height: 40px;
}
/*Hide dropdown links until they are needed*/
ul {
  display: none;
}
/*Make dropdown links vertical*/
ul li {
  display: block;
  float: none;
}
/*Prevent text wrapping*/
ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
/*Display the dropdown on hover*/
#discovertabs label:hover + .dropdown-menu, .dropdown-menu:hover {
  display: block;
}

#discovertabs #lbl-lunch:hover /* + .hidden, .hidden:hover */{
  color: red;
  cursor: pointer;
  /* display: block; */
}



/*- Responsive Media Queries -*/

@media screen and (min-width: 360px) {
  /* #Events_content { height: 1200px; } */
}

/*Special for sub 380*/
@media screen and (max-width: 330px) {
  #discovertabs label {width: 18%; font-size: 12px;}
  #discovertabs label:first-of-type {margin-left: 10px;}
}

@media screen and (min-width: 330px) {
  .body-promos { margin: 0 4px; }
}

@media (min-width: 768px) {
  #discovertabs label {font-size: 1.2em;padding: 15px 25px;}
  #discovertabs .sub-tabs img {max-height: 180px;}
  #discovertabs .venues-list div {flex-basis: 25%;}
  #discovertabs p.header {font-size: 2em;}
  #discovertabs p.caption {font-size: 1em;}
  .body-promos { margin: 0 20px; }
}

@media (min-width: 992px) {
  .body-promos { margin: 0 50px; }
}

@media (min-width: 1200px) {
  #discovertabs .sub-tabs img {max-height: 180px;}
  #discovertabs .venues-list {margin: 0 15%;}
  .body-promos { margin: 0 150px; }
}