* {
  margin: 0;
  padding: 0;
}

h1, h3{
text-transform: uppercase;
font-weight: normal;
}

.tabs{
  width: 600px;
  display: block;
  margin: 40px auto;
  position: relative;
}

.tabs .tab{
  float: left;
  display: block;
}

.tabs .tab>input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #4A83FD;
}

.tabs .content {
  /* z-index: 0; */
  display: none;
  overflow: hidden;
  width: 600px;
  padding: 25px;
  position: absolute;
  top: 27px;
  left: 0;
  /* background: #303030; */
  color: #303030;
  
  opacity:0;
  transition: opacity 400ms ease-out;
}

.dropdown-content {
  overflow: hidden;
  width: 600px;
  padding: 25px;
  position: absolute;
  top: 27px;
  left: 0;
  color: #DFDFDF;
  
  opacity:0;
  transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
  top: 0;
  background: #303030;
  color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
  /* z-index: 1; */
  display: block;
 
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked ~ .dropdown-tab-content {
  /* display: none !important; */
  background: red !important;
}

.ul-dropdown {
  list-style-type: none;
  display: none; /* as a default */
  margin: auto;
}
.li-dropdown {
  display: block;
  float: none;
  
}
.li-a-dropdown {
  display: block;
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

input[id="tab4"]:checked + label /* input:focus + label */
+ .ul-dropdown, .ul-dropdown:hover {
  display: block
}

.dropdown-tab {
  width: 16%;
}

#bottles, #starbucks {
  display: none !important;
  overflow: hidden;
  padding: 25px;
}
#bottles:target {
  display: block !important;
}
#starbucks:target {
  display: block !important; 
}

