@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,600i,700,700i,800,800i,900,900i');

.discover-bangkok-tabs {
  font: 14px/1 Poppins,'Open Sans', sans-serif;
  color: hsl(0, 11%, 79%);
  background: #eee;
}

/*- Tabs Label -*/
.discover-bangkok-tabs .sub-tabs {
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  }
.discover-bangkok-tabs input {
  display: none;
  }
.discover-bangkok-tabs input:checked + label {
  color: #555;
  border-top: 3px solid #482b88;
}
.discover-bangkok-tabs label {
  width: 19%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  padding: 15px 0 15px 0;
  line-height: 20px;
}
.discover-bangkok-tabs label:hover {
  color: #888;
  cursor: pointer;
}
/* #Promos_bangkok:checked ~ .Promos_content_bangkok,
#Lunch_bangkok:checked ~ #Lunch_content_bangkok,
#Dinner_bangkok:checked ~ .Dinner_content_bangkok,
#Drinks_bangkok:checked ~ .Drinks_content_bangkok,
#Events_bangkok:checked ~ .Events_content_bangkok {
  display: block;
} */

/* #Lunch_content_bangkok:checked ~ .wp-nav-dropdown {
  display: block;
} */

/*- Tabs Content -*/
.discover-bangkok-tabs p.header {
  padding: 50px 10px 0 10px;
  text-align: center;
  font-size: 1.2em;
  color: #fff; 
}
.discover-bangkok-tabs p.caption {
  padding: 20px 10px 50px 10px;
  text-align: center;
  font-size: 0.8em;
  color: #ebebeb;
}
.discover-bangkok-tabs .tab-pane {
  display: none;
  padding: 20px 0 0;
  background: #190f2f;
  -webkit-box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
  box-shadow: inset 0px 8px 20px -10px rgba(255,255,255,1);
}
.discover-bangkok-tabs .sub-tabs img {
  max-height: 150px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.discover-bangkok-tabs .venues-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.discover-bangkok-tabs .venues-list div {
  flex-basis: 50%;
  text-align: center; 
}

/* Promos */
.discover-bangkok-tabs .promos-logo {
  text-align: center;
}
.discover-bangkok-tabs .header-promos {
  padding: unset !important;
}
.discover-bangkok-tabs .div-content-promos {
  padding: 24px;
}
.link-promos {
    color: #87CEEB;
}
.discover-bangkok-tabs hr {
  border-width: 0.25px;
  border-style: solid;
}

/* Events */
.discover-bangkok-tabs p.header-events {
text-align: center;
font-size: 1.5em;
color: #fff; 
}
.discover-bangkok-tabs .vh33 {
  height: 33vh;
}
.p-margin {
    margin: 0 0 20px !important;
}

/*- Responsive Media Queries -*/
@media screen and (min-width: 360px) {
  /* #Events_content { height: 1200px; } */
}

/*Special for sub 380*/
@media screen and (max-width: 330px) {
  .discover-bangkok-tabs label {width: 18%; font-size: 12px;}
  .discover-bangkok-tabs label:first-of-type {margin-left: 10px;}
}

@media screen and (min-width: 330px) {
  .body-promos { margin: 0 4px; }
}

@media (min-width: 768px) {
  .discover-bangkok-tabs label {font-size: 1.2em;padding: 15px 25px;}
  .discover-bangkok-tabs .sub-tabs img {max-height: 180px;}
  .discover-bangkok-tabs .venues-list div {flex-basis: 25%;}
  .discover-bangkok-tabs p.header {font-size: 2em;}
  .discover-bangkok-tabs p.caption {font-size: 1em;}
  .body-promos { margin: 0 20px; }
}

@media (min-width: 992px) {
  .body-promos { 
      margin: 0 20%;
      line-height: 19px !important;
  }
}

@media (min-width: 1200px) {
  .discover-bangkok-tabs .sub-tabs img {max-height: 180px;}
  .discover-bangkok-tabs .venues-list {margin: 0 15%;}
  .body-promos { margin: 0 30%; }
}